.dark {
  --md-sys-color-primary: rgb(188 195 255);
  --md-sys-color-surface-tint: rgb(188 195 255);
  --md-sys-color-on-primary: rgb(36 44 97);
  --md-sys-color-primary-container: rgb(59 66 121);
  --md-sys-color-on-primary-container: rgb(223 224 255);
  --md-sys-color-secondary: rgb(196 197 221);
  --md-sys-color-on-secondary: rgb(45 47 66);
  --md-sys-color-secondary-container: rgb(67 69 89);
  --md-sys-color-on-secondary-container: rgb(224 225 249);
  --md-sys-color-tertiary: rgb(230 186 215);
  --md-sys-color-on-tertiary: rgb(69 38 61);
  --md-sys-color-tertiary-container: rgb(93 60 84);
  --md-sys-color-on-tertiary-container: rgb(255 215 240);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(228 225 233);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(199 197 208);
  --md-sys-color-outline: rgb(144 144 154);
  --md-sys-color-outline-variant: rgb(70 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(83 90 146);
  --md-sys-color-primary-fixed: rgb(223 224 255);
  --md-sys-color-on-primary-fixed: rgb(13 21 75);
  --md-sys-color-primary-fixed-dim: rgb(188 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(59 66 121);
  --md-sys-color-secondary-fixed: rgb(224 225 249);
  --md-sys-color-on-secondary-fixed: rgb(24 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(196 197 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(67 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 215 240);
  --md-sys-color-on-tertiary-fixed: rgb(45 17 39);
  --md-sys-color-tertiary-fixed-dim: rgb(230 186 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 60 84);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(41 41 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
  --md-extended-color-custom-color1-color: rgb(154 203 250);
  --md-extended-color-custom-color1-on-color: rgb(0 51 82);
  --md-extended-color-custom-color1-color-container: rgb(11 74 114);
  --md-extended-color-custom-color1-on-color-container: rgb(205 229 255);
  --md-extended-color-custom-color2-color: rgb(132 210 229);
  --md-extended-color-custom-color2-on-color: rgb(0 54 63);
  --md-extended-color-custom-color2-color-container: rgb(0 78 91);
  --md-extended-color-custom-color2-on-color-container: rgb(167 237 255);
}
